In [1]:
import pandas as pd
import numpy as np
from IPython import display
from entsoe import EntsoePandasClient

In [15]:
raw_data = pd.read_csv("/workspaces/ds_project_1/data/France.csv")

In [5]:
client.query_day_ahead_prices(start=start, end=end, country_code=country_code)

/usr/local/lib/python3.12/html/parser.py:171: XMLParsedAsHTMLWarning: It looks like you're parsing an XML document using an HTML parser. If this really is an HTML document (maybe it's XHTML?), you can ignore or filter this warning. If it's XML, you should know that using an XML parser will be more reliable. To parse this document as XML, make sure you have the lxml package installed, and pass the keyword argument `features="xml"` into the BeautifulSoup constructor.
  k = self.parse_starttag(i)

2017-12-01 00:00:00+01:00    71.35
2017-12-01 01:00:00+01:00    61.49
2017-12-01 02:00:00+01:00    59.91
2017-12-01 03:00:00+01:00    53.45
2017-12-01 04:00:00+01:00    52.60
                             ...
2017-12-31 20:00:00+01:00    12.74
2017-12-31 21:00:00+01:00    12.28
2017-12-31 22:00:00+01:00    11.86
2017-12-31 23:00:00+01:00    12.40
2018-01-01 00:00:00+01:00     6.74
Freq: 60min, Length: 745, dtype: float64

In [16]:
raw_data.head()

  Country ISO3 Code       Datetime (UTC)     Datetime (Local)  Price (EUR/MWhe)
0  France       FRA  2015-01-01 00:00:00  2015-01-01 01:00:00             36.56
1  France       FRA  2015-01-01 01:00:00  2015-01-01 02:00:00             36.56
2  France       FRA  2015-01-01 02:00:00  2015-01-01 03:00:00             36.56
3  France       FRA  2015-01-01 03:00:00  2015-01-01 04:00:00             36.56
4  France       FRA  2015-01-01 04:00:00  2015-01-01 05:00:00             36.56

In [17]:
raw_data.shape
raw_data.dtypes

Country              object
ISO3 Code            object
Datetime (UTC)       object
Datetime (Local)     object
Price (EUR/MWhe)    float64
dtype: object

In [18]:
raw_data.describe()

       Price (EUR/MWhe)
count      88364.000000
mean          78.346081
std           91.230478
min         -134.940000
25%           32.500000
50%           47.960000
75%           83.650000
max         2987.780000

In [ ]:
pa